.portfolio {background: url(../images/7598163.jpg) no-repeat fixed center;
background-size: cover;}
/* .top */
.portfolio .top {
    width: 100%; margin: 0 auto; padding: 200px 0 100px 0;
    display: flex; flex-flow: column nowrap; align-items: center; justify-content: center;
}
.portfolio .top .photo {
    width: 200px; height: 200px; overflow: hidden;
    border: 5px solid #fff; border-radius: 50%; 
    margin-bottom: 20px;
    animation: photo 2s linear alternate infinite;
}
.portfolio .top .photo img {width:100%;}
.portfolio .top h1 {
    font-family: 'Galada', cursive;
    /* font-family: 'Sofia', cursive; */
    /* font-family: 'Caprasimo', cursive; */
    font-size: 2rem; font-weight: 600;
    letter-spacing: -0.02em; margin-bottom: 20px;
    background: linear-gradient(to right, #ff00ff, #00ffff, #ff00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    animation: text_bg 5s linear infinite;
}
.portfolio .top .loading {
    background: #fff;  margin-bottom: 30px;
    border-radius: 30px;
}
.portfolio .top .loading .bar {
    border-radius: 30px;
    display: block;
    width: 300px;
    height: 10px;
    background: #ff00ff;
    transform: scaleX(0);
    transition: transform 3s;
    transform-origin: left top;
}
.portfolio .top .photo:hover ~ .loading .bar {
    transform: scaleX(1);
}
.portfolio .top .contents {
    margin-bottom: 30px;
    font-weight: 600; letter-spacing: -0.02em;
}
.portfolio .top .icon {
    display:flex; flex-flow:row nowrap; justify-content: center;
}
.portfolio .top .icon a {margin-right: 25px; position: relative;}
.portfolio .top .icon a:last-child {margin-right: 0;}
.portfolio .top .icon a img {width: 25px; height: 25px;}
.portfolio .top .icon a span {
    font-family: 'Galada', cursive;
    position: absolute;
    background: #222;
    color: #fff;
    padding: 5px;
    left: 50%;
    transform: translateX(-50%);
    top: 35px;
    opacity: 0;
}
.portfolio .top .icon a:nth-child(1):hover span {opacity: 1;}
.portfolio .top .icon a:nth-child(2):hover span {opacity: 1;}
.portfolio .top .icon a:nth-child(3):hover span {opacity: 1;}
/* .m_nav */
.portfolio .m_nav {
    width:30px; height:25px; margin: 100px auto; 
    display:flex; flex-flow:column nowrap; /* display 적용하면 숨겨두었던게 보이게 됨 */
    justify-content:space-between;
}
.portfolio .m_nav span {
    width:100%; height:5px;
    border-radius:5px;
    background:#222;
    transition: all 0.3s;
}
.portfolio .m_nav:hover span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
.portfolio .m_nav:hover  span:nth-child(2){
    opacity: 0;
}
.portfolio .m_nav:hover span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
/* .text */
.portfolio .text {
    padding: 100px 0; margin: 0 auto;
}
.portfolio .text .text1 {
    height: 200px;
    background:url(../images/bg2.png) repeat-x;
    transform: rotate(-10deg) ; 
    animation: bg 20s linear infinite;
}
.portfolio .text .text2 {
    height:200px;
    background:rgba(0, 0, 0,0.5) url(../images/bg3.png) repeat-x;
    transform: rotate(10deg);
    animation: bg 20s linear alternate-reverse infinite;
}
/* .item */
.portfolio .item {
    width: 1260px; margin: 0 auto; padding: 100px 0;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
.portfolio .item a {
    background: #fff url(../images/web.png) no-repeat center;
    background-size: auto 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    height: 350px; width: 300px;
    position: relative;
    transition: all 0.5s;
    /* display: flex; flex-flow: column nowrap; */
}
.portfolio .item a:hover {
    background-size: auto 120%;
    filter:drop-shadow(10px 10px 10px #000);
}
.portfolio .item a .info {
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 20px;
    text-align: center;
}
.portfolio .item a .info h2 {
    font-size: 1.2rem; font-weight: 600; 
    letter-spacing: -0.02em;
    margin-bottom: 8px;
}
.portfolio .item a .info .p1 {
    letter-spacing: -0.02em;
    margin-bottom: 8px;
}
.portfolio .item a .info .p2 {letter-spacing: -0.02em;}
/* footer */
.portfolio footer {
    margin:0 auto; padding: 100px 0 200px 0;
    display: flex; flex-flow: column nowrap; 
    align-items: center; color: #fff;
}
.portfolio footer p {
    font-size: 2rem; letter-spacing: -0.02em; 
    text-shadow: 0 0 10px #000;
}
.portfolio footer p:last-child {margin-top: 20px;}
/* keyframes */
@keyframes photo {
    0% {transform:translateY(0);}
    100% {transform:translateY(-30px);}
}
@keyframes text_bg {
    0% {background-position-x:100%;}
    100% {background-position-x:400%;}
}
@keyframes bg {
    0% {background-position: 0 0;}
    100% {background-position: -1000px 0;}
}